body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.main-page{
    background: white;
    border-radius: 1rem;
    max-width: 20rem;
    padding: 1rem; 
    box-shadow: 0px 4px 16px hsl(212, 45%, 89%);
}

.container img{
    max-width: 100%;
    border-radius: 1rem;
}

.contents{
    text-align: center;
    margin: 0.5rem;
}

.contents p{
    font-size: 0.97rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

h1{
    font-size: 1.3rem;
    margin-bottom: 0.10rem;
}

.developer_name{   
    font-size: 0.6rem; 
    text-align: center; 
    font-weight: 400px;
}

.developer_name a{ 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
